body{
	font-family: 'Roboto', sans-serif;
	padding: 20px;
}

#awesome_tab{
	width: 500px;
	
}


/* HEADER */

.tab_header .item{
	border: 1px solid #cccc;
	background: #f4f4f4;
	box-sizing: border-box;
	padding: 10px;
	float: left;
	font-size: 0.9rem;
	cursor: pointer;
	transition: all 0.5s ease;
}

.tab_header .item.active{
	background: #0275d8;
	color: #fff;
}

.tab_header:after{
	content: "";
	display: table;
	clear: both;
}


/* Container */

.tab_container .container_item{
	border: 1px solid #cccccc;
	box-sizing: border-box;
	padding: 20px;
	display: none;
}

.tab_container .container_item.active{
	display: block;
}



