.red-box{
	width: 200px;
	height: 200px;
	background-color: red;
	border: 1px solid black;
	margin-bottom: 50px;
}

.blue-box{
	height: 50px;
	width: 50px;
	background-color: blue;
	border: 1px solid blue;
	
}
.parent{
	width: 500px;
	height: 500px;
	background-color: aqua;
}


.handle{
	
	display: inline-block;
	background: black;
	
}

.accepted{
	background-color: green;
}