.red-box{
	width: 200px;
	height: 200px;
	background-color: red;
	border: 1px solid black;
}


.parent{
	width: 500px;
	height: 500px;
	background-color: aqua;
}


.handle{
	
	display: inline-block;
	background: black;
	
}