*{
  font-family: 'Roboto', sans-serif;
}

.my-card{
  margin-top: 100px;
  text-align: center;
  display: none;
}

.my-card.active{
  display: block;
}

.my-card .image-wrapper{
  width: 600px; 
  margin: 0 auto;
  position: relative;
}

.my-card .our-image{
 position: relative;
 filter: brightness(40%);
}


.my-card .image-text{
  text-align: left;
  position: absolute;
  top: 50px;
  left: 30px;
  color: #fff;
}

.my-card .image-text h1{
  font-size: 3.4rem;
  text-align: center;
}

.my-card .image-text p{
  padding: 0 100px;
  text-align: center;
}



.control-previous{
  position: absolute;
  float: left;
  left: 90px;
  top: 282px;
  font-size: 3rem;
  z-index: 99;
}

.control-next{
  position: absolute;
  float: right;
  right: 90px;
  top: 282px;
  font-size: 3rem;
  z-index: 99;
}

.counter-outer{
  width: 100%;
}

.counter{
  width: 140px;
  background: lightblue;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  float: right;
  margin-right: 60px;
}