.red-box{
	width: 300px;
	height: 300px;
	background-color: red;
	

}

.blue-box{
	height: 50px;
	width: 50px;
	background-color: blue;
	
	
}
.parent{
	width: 500px;
	height: 500px;
	background-color: aqua;
}


.handle{
	
	display: inline-block;
	background: black;
	
}

.accepted{
	background-color: green;
}