*{
  font-family: 'Roboto', sans-serif;
}

.card-slider{
  margin-top: 100px;
}


.card-slider .wrapper{
  position: relative;

}

.cards-container{
  box-sizing: border-box;
  width: 80%;
  height: 300px;
  padding: 20px;
  margin: 0 auto;
  background: #ececec;
}

.cards-container .item{
  height: 300px;
  display: none;
}

.cards-container .item.active{
  display: block;
}

.action-btns{
  position: absolute;
  top: 110px;
  width: 100%;
}

.action-btns .btn{
  width: 50px;
  height: 50px;
  padding: 0px;
  font-size: 50px;
  color: #0275d8;
}

.action-btns .btn.btn-prev{
  float: left;
}

.action-btns .btn.btn-next{
  float: right;
}


.count-slide{
  width: 140px;background: #0275d8;
  color: #fff;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  float: right;
  margin-right: 69px;
}

.count-slide span{
  font-weight: bold;
}
