.clearfix {zoom: 1}
.clearfix:after {
    content: '-';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


#fade-group{
	position: relative;
	height: 500px;
	
	
}

#fade-group>img{
	position: absolute;
	height: 500px;
	width: 100%;
}


#fade-group>img.active{
z-index: 3;	
}



#fade-next-button{
	width: 400px;
	margin: 0 auto;
}




































