*{
  font-family: 'Roboto', sans-serif;
}

.container{
  margin: 0 auto;
  width: auto;
  max-width: 1140px;
  padding: 0 50px
}

#awesome-tab{
  width: 500px;
  margin: 100px auto;
}

.tab-header .item{
  background: #e4e4e4;
  box-sizing: border-box;
  padding: 10px;
  float: left;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.tab-header .item.active{
  background: #0275d8;
  color: white;
}

.tab-header:after{
  content: "";
  display: table;
  clear: both;
}

.tab-container .container-item{
  border: 1px solid #cccc;
  box-sizing: border-box;
  padding: 20px;
  display: none;
}

.tab-container .container-item.active{
  display: block;
}




